.clearboth {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.clearboth:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
  font-size: 0;
  line-height: 0;
}
* html .clearboth {
  height: 1%;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.mk-options-container,
.mk-metabox-wrapper,
.vc_edit_form_elements {
  color: #525252;
}
.mk-options-container input[type=text],
.mk-metabox-wrapper input[type=text],
.vc_edit_form_elements input[type=text],
.mk-options-container input[type=password],
.mk-metabox-wrapper input[type=password],
.vc_edit_form_elements input[type=password],
.mk-options-container input[type=checkbox],
.mk-metabox-wrapper input[type=checkbox],
.vc_edit_form_elements input[type=checkbox],
.mk-options-container input[type=color],
.mk-metabox-wrapper input[type=color],
.vc_edit_form_elements input[type=color],
.mk-options-container input[type=date],
.mk-metabox-wrapper input[type=date],
.vc_edit_form_elements input[type=date],
.mk-options-container input[type=datetime],
.mk-metabox-wrapper input[type=datetime],
.vc_edit_form_elements input[type=datetime],
.mk-options-container input[type=datetime-local],
.mk-metabox-wrapper input[type=datetime-local],
.vc_edit_form_elements input[type=datetime-local],
.mk-options-container input[type=email],
.mk-metabox-wrapper input[type=email],
.vc_edit_form_elements input[type=email],
.mk-options-container input[type=month],
.mk-metabox-wrapper input[type=month],
.vc_edit_form_elements input[type=month],
.mk-options-container input[type=number],
.mk-metabox-wrapper input[type=number],
.vc_edit_form_elements input[type=number],
.mk-options-container input[type=radio],
.mk-metabox-wrapper input[type=radio],
.vc_edit_form_elements input[type=radio],
.mk-options-container input[type=tel],
.mk-metabox-wrapper input[type=tel],
.vc_edit_form_elements input[type=tel],
.mk-options-container input[type=time],
.mk-metabox-wrapper input[type=time],
.vc_edit_form_elements input[type=time],
.mk-options-container input[type=url],
.mk-metabox-wrapper input[type=url],
.vc_edit_form_elements input[type=url],
.mk-options-container input[type=week],
.mk-metabox-wrapper input[type=week],
.vc_edit_form_elements input[type=week],
.mk-options-container input[type=search],
.mk-metabox-wrapper input[type=search],
.vc_edit_form_elements input[type=search],
.mk-options-container select,
.mk-metabox-wrapper select,
.vc_edit_form_elements select,
.mk-options-container textarea,
.mk-metabox-wrapper textarea,
.vc_edit_form_elements textarea {
  box-shadow: none !important;
  border-radius: 6px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border-color: #d9d9d9;
}
.mk-options-container a,
.mk-metabox-wrapper a,
.vc_edit_form_elements a {
  text-decoration: none;
}
.mk-options-container a:focus,
.mk-metabox-wrapper a:focus,
.vc_edit_form_elements a:focus,
.mk-options-container li:focus,
.mk-metabox-wrapper li:focus,
.vc_edit_form_elements li:focus {
  outline: none;
  box-shadow: none !important;
}
/* **
**
** Specific Options Layouts
------------------------------------------------------------- */
.mk-groupset-holder {
  background-color: #f2f2f2;
  padding: 10px 0 0;
  margin: 0px 0 30px;
  position: relative;
}
.mk-groupset-holder h3 {
  padding: 0 0 15px 25px;
  font-size: 22px;
  color: #222222;
}
.mk-groupset-holder .mk-single-option {
  border-bottom: 1px solid #d9d9d9 !important;
}
.mk-groupset-holder > div:last-of-type {
  border: none !important;
  margin-bottom: 0 !important;
}
.mk-groupset-heading {
  position: absolute;
  right: 15px;
  top: 15px;
}
.mk-groupset-desc {
  color: #686b70;
  display: block;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}
/* Textboxes */
.mk-single-option .mk-highlighted-text {
  background-color: #bbbbbb;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
}
.mk-single-option input[type="text"],
.mk-single-option textarea {
  padding: 10px;
}
.mk-single-option textarea {
  margin-bottom: 10px;
  width: 100%;
}
.masterkey-options-page .mk-single-option {
  padding-left: 25px;
}
.wp-editor-container textarea {
  border: none !important;
}
@media handheld, only screen and (max-width: 1300px) {
  .mk-textbox,
  .chzn-container {
    width: 100% !important;
  }
}
/* Upload Option */
.show-upload-image {
  display: block;
  margin-top: 20px;
  width: 300px;
}
.show-upload-image img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.mk-select,
.vc_edit_form_elements select {
  display: block;
  padding: 10px 70px 10px 13px !important;
  max-width: 100%;
  height: auto !important;
  border: 1px solid #e3e3e3;
  background: url('../../images/selectbox-arrow.png') right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mk-select option,
.vc_edit_form_elements select option {
  padding: 0 4px;
}
/* Toggle Button */
.mk-toggle-button {
  display: block;
  background-color: #e9e9e9;
  width: 62px;
  height: 32px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mk-toggle-button .toggle-handle {
  width: 26px;
  height: 26px;
  background-color: #fff;
  position: relative;
  display: block;
  left: 4px;
  top: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.mk-toggle-button.mk-toggle-on {
  background-color: #89daff;
}
.mk-toggle-button.mk-toggle-on .toggle-handle {
  left: 32px;
}
.mk-toggle-button.mk-toggle-off {
  background-color: #e9e9e9;
}
-html[dir="rtl"] .mk-toggle-button.mk-toggle-on {
  background-color: #89daff;
}
-html[dir="rtl"] .mk-toggle-button.mk-toggle-on .toggle-handle {
  right: 32px;
}
.mk-toggle-button,
.toggle-handle {
  border-radius: 40px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
/* Masterkey Built-in Selectbox */
.mk-fancy-selectbox {
  position: relative;
  margin-bottom: 15px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.mk-fancy-selectbox.selectbox-focused > .mk-selector-heading .mk-selector-arrow {
  position: relative;
  z-index: 50;
  background-color: #dddddd;
}
.mk-fancy-selectbox .mk-selector-heading {
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
  background: #dddddd;
}
.mk-fancy-selectbox .mk-selector-heading .selected_item {
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
  margin-left: 12px;
  height: 40px;
  color: #555555;
  line-height: 40px;
}
.mk-fancy-selectbox .mk-selector-heading .selected_color {
  display: inline-block;
  width: 32px;
  height: 23px;
  margin: 5px 10px 0 5px;
}
.mk-fancy-selectbox .mk-selector-heading .mk-selector-arrow {
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  background: url(../../images/selectbox-arrow.png) center center no-repeat;
}
.mk-fancy-selectbox .mk-select-options {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 40;
  display: none;
  background: #dddddd;
  border-top: 1px solid #aaaaaa;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option {
  display: block;
  padding: 6px 7px 6px 17px;
  color: #555555;
  font-size: 12px;
  cursor: pointer;
  margin: 3px;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option b {
  display: inline-block;
  font-weight: normal;
  line-height: 25px;
  vertical-align: top;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option .mk-option-color {
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.mk-fancy-selectbox .mk-select-options .mk-select-option:hover {
  background-color: #aaaaaa;
}
.mk-fancy-selectbox.color-based .mk-select-option {
  padding: 5px 7px 0px 10px;
}
.mk-fancy-selectbox.color-based .selected_item {
  line-height: 30px;
  vertical-align: top;
  height: 30px;
  margin: 3px 0 0 0;
}
/* Range Input */
.mk-ui-input-slider {
  margin: 30px 0 20px 0;
}
.mk-ui-input-slider .ui-slider-horizontal {
  position: relative;
  float: left;
  clear: right;
  width: 266px;
  height: 6px;
  top: 0;
  background-color: #d9d9d9;
  cursor: pointer;
}
.mk-ui-input-slider .progress {
  display: none;
  height: 9px;
  background-color: #C5FF00;
  opacity: 0.6;
}
.mk-ui-input-slider .ui-slider-handle {
  position: absolute;
  top: -9px;
  z-index: 2;
  width: 22px;
  height: 22px;
  background-color: #fff !important;
  cursor: move;
  margin-left: -10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.mk-ui-input-slider .range-input-selector {
  float: left;
  margin: -14px 0 5px 25px !important;
  padding: 8px 0 !important;
  width: 90px;
  background-color: #fff;
  color: #555555;
  text-align: center;
}
.mk-ui-input-slider .unit {
  font-family: georgia;
  display: inline-block;
  margin-left: 8px;
  color: #aaaaaa;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  top: -8px;
}
.ui-slider-horizontal,
.ui-slider-handle,
.range-input-selector {
  border-radius: 30px !important;
  background-clip: padding-box !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
}
/* Checkbox & Radio Button */
.mk-select-radio input[type="checkbox"] {
  display: none;
}
.mk-select-radio input[type="checkbox"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.mk-select-radio input[type="checkbox"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/mk-checkbox-radio.png) left top no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.mk-select-radio input[type="checkbox"]:checked + label span {
  background: url(../../images/mk-checkbox-radio.png) right top no-repeat;
}
.mk-select-radio input[type="radio"] {
  display: none;
}
.mk-select-radio input[type="radio"] + label {
  margin-right: 30px;
  font-size: 12px;
}
.mk-select-radio input[type="radio"] + label span {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 25px;
  height: 25px;
  background: url(../../images/mk-checkbox-radio.png) left bottom no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.mk-select-radio input[type="radio"]:checked + label span {
  background: url(../../images/mk-checkbox-radio.png) right bottom no-repeat;
}
/* Custom Sidebar */
.custom-sidebar-wrapper {
  margin-bottom: 40px;
}
.selected-sidebar {
  display: block;
  width: 300px;
  margin-top: 20px;
  border-bottom: none;
}
.default-sidebar-item {
  display: none;
}
.sidebar-item {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 12px 10px;
  width: 300px;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  margin-bottom: 3px;
}
.sidebar-item .delete-sidebar {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  color: #ed1c24;
}
/* Visual Selector */
.mk-visual-selector {
  margin-top: 20px;
}
.mk-visual-selector a {
  position: relative;
  display: inline-block;
  line-height: 4px;
  margin: 16px 10px 10px 0;
  border: 3px solid transparent;
  vertical-align: top;
}
.mk-visual-selector a .selector-tick {
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 35px;
  height: 35px;
  background: url(../../images/selector-tick.png) no-repeat;
  z-index: 2;
}
.mk-visual-selector a.current {
  border: 3px solid #14a5ed;
}
.mk-visual-selector.shape-selector a {
  border: 3px solid #e4e4e4;
  border-radius: 8px;
  margin-right: 15px;
}
.mk-visual-selector.shape-selector a.current {
  border: 3px solid #14a5ed;
}
.mk-visual-selector {
  margin-top: 20px;
}
/* Message Boxes */
.mk-message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: none;
  z-index: 10000;
  padding: 80px;
  border-radius: 6px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  min-width: 100px;
  max-width: 500px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 5px 23px rgba(0, 0, 0, 0.2);
}
.mk-message-box .mk-message-text {
  display: block;
  padding: 30px 0 45px;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}
.mk-message-box.is-active {
  display: block;
}
/* Background Seclector */
.mk-general-bg-selector {
  position: relative;
  max-width: 820px;
  min-height: 700px;
  margin-bottom: 30px;
}
.mk-general-bg-selector .outer-wrapper {
  border: 3px solid #aaaaaa;
  padding: 0;
  position: relative;
}
.mk-general-bg-selector.full_width_layout .hover-state-body,
.mk-general-bg-selector.full_width_layout .body-section .mk-transparent-bg-indicator,
.mk-general-bg-selector.full_width_layout .body-section .mk-bg-preview-layer {
  display: none;
}
.mk-general-bg-selector.boxed_layout .body-section .mk-transparent-bg-indicator,
.mk-general-bg-selector.boxed_layout .body-section .mk-bg-preview-layer {
  display: block !important;
}
.mk-general-bg-selector.boxed_layout .body-section {
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  z-index: 50;
  width: 100%;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cbeeff;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  z-index: 10;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body .section-indicator {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #252525;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.mk-general-bg-selector.boxed_layout .body-section .hover-state-body:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.mk-general-bg-selector .header-section {
  height: 120px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .banner-section {
  height: 130px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .page-section {
  height: 370px;
  border-bottom: 3px solid #aaaaaa;
}
.mk-general-bg-selector .footer-section {
  height: 111px;
}
.mk-general-bg-selector.boxed_layout .main-sections-wrapper {
  margin: 0 130px;
  background-color: #aaa;
  padding: 0 3px;
  position: relative;
  z-index: 55;
}
.mk-general-bg-selector .header-section,
.mk-general-bg-selector .page-section,
.mk-general-bg-selector .footer-section,
.mk-general-bg-selector .banner-section {
  cursor: pointer;
  position: relative;
}
.mk-general-bg-selector .header-section .hover-state,
.mk-general-bg-selector .page-section .hover-state,
.mk-general-bg-selector .footer-section .hover-state,
.mk-general-bg-selector .banner-section .hover-state {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #cbeeff;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
.mk-general-bg-selector .header-section .hover-state .section-indicator,
.mk-general-bg-selector .page-section .hover-state .section-indicator,
.mk-general-bg-selector .footer-section .hover-state .section-indicator,
.mk-general-bg-selector .banner-section .hover-state .section-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -45px;
  color: #252525;
  padding: 4px 20px;
  font-weight: bold;
  display: inline-block;
  z-index: 60;
}
.mk-general-bg-selector .header-section .hover-state:hover,
.mk-general-bg-selector .page-section .hover-state:hover,
.mk-general-bg-selector .footer-section .hover-state:hover,
.mk-general-bg-selector .banner-section .hover-state:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.mk-transparent-bg-indicator,
.mk-bg-preview-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mk-bg-preview-layer {
  z-index: 2;
}
.mk-transparent-bg-indicator {
  background-image: url(../../images/transparent-bg.png);
  z-index: 1;
}
.mk-bg-edit-panel {
  z-index: 90;
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 2px solid #aaa;
  background: #f0f0f0;
}
.mk-bg-panel-heading {
  border-bottom: 1px solid #ccc;
}
.mk-bg-panel-heading .mk-bg-edit-panel-heading-cancel {
  display: block;
  float: right;
  margin: 13px 13px 0 0;
  font-size: 24px;
  color: #14a5ed;
}
.mk-bg-panel-heading .mk-bg-edit-panel-heading-text {
  color: #252525;
  line-height: 50px;
  font-size: 18px;
  margin: 10px 0 0 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.mk-bg-edit-left {
  width: 33%;
  float: left;
}
.mk-bg-edit-right {
  width: 67%;
  border-left: 1px solid #ccc;
  margin-right: -1px;
  float: right;
  min-height: 500px;
}
.mk-bg-edit-bg-color {
  border-bottom: 1px solid #ccc;
}
.mk-bg-edit-option {
  display: block;
  padding: 7px 10px;
}
.bg-edit-panel-color {
  float: left;
  padding: 0 20px 10px 0;
}
.mk-bg-edit-label {
  display: block;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 5px;
}
.panel-gradient-element.is-hidden,
.panel-linear-gradient-el.is-hidden {
  display: none;
}
.bg-repeat-option,
.bg-attachment-option,
.bg-position-option {
  float: right;
  line-height: 4px;
  overflow: hidden;
}
.bg-repeat-option a,
.bg-attachment-option a,
.bg-position-option a {
  width: 31px;
  height: 31px;
  display: inline-block;
  margin: 4px;
  padding: 0;
  background-color: #fff;
  border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-image: url(../../images/background-selector.png);
  background-repeat: no-repeat;
  background-position: -49px -97px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.bg-repeat-option a:hover,
.bg-attachment-option a:hover,
.bg-position-option a:hover {
  background-color: #f4f4f4;
}
.bg-repeat-option a.selected,
.bg-attachment-option a.selected,
.bg-position-option a.selected,
.bg-repeat-option a:focus,
.bg-attachment-option a:focus,
.bg-position-option a:focus {
  background-color: #dbdbdb;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.3) !important;
}
.bg-repeat-option a.repeat,
.bg-attachment-option a.repeat,
.bg-position-option a.repeat {
  background-position: -41px -3px;
}
.bg-repeat-option a.no-repeat,
.bg-attachment-option a.no-repeat,
.bg-position-option a.no-repeat {
  background-position: 0px -3px;
}
.bg-repeat-option a.repeat-y,
.bg-attachment-option a.repeat-y,
.bg-position-option a.repeat-y {
  background-position: -125px -3px;
}
.bg-repeat-option a.repeat-x,
.bg-attachment-option a.repeat-x,
.bg-position-option a.repeat-x {
  background-position: -84px -3px;
}
.bg-repeat-option a.fixed,
.bg-attachment-option a.fixed,
.bg-position-option a.fixed {
  background-position: -37px -46px;
}
.bg-repeat-option a.scroll,
.bg-attachment-option a.scroll,
.bg-position-option a.scroll {
  background-position: -78px -47px;
}
.bg-position-option a.selected {
  background-position: -1px -96px;
}
.mk-bg-edit-option-repeat {
  padding-bottom: 25px !important;
}
.mk-bg-edit-option-repeat,
.mk-bg-edit-option-attachment {
  border-bottom: 1px solid #ccc;
}
.mk-bg-edit-option-stretch {
  border-top: 1px solid #ccc;
}
.mk-bg-edit-buttons {
  display: block;
  text-align: right;
  padding: 30px;
}
.bg-image-preset-wrapper {
  margin: 0px;
}
.bg-background-type-panes {
  min-height: 230px;
}
.bg-background-type-panes .bg-background-type-pane {
  display: none;
}
.bg-edit-panel-upload .mk-upload-bg-wrapper {
  position: relative;
}
.bg-edit-panel-upload .mk-upload-url {
  margin: 0 !important;
  width: 280px !important;
}
.bg-edit-panel-upload .bg-edit-panel-upload-title {
  margin: 10px 30px 10px 0px;
  display: block;
}
.bg-edit-panel-upload .custom-image-preview-block {
  overflow: hidden;
  max-width: 400px !important;
  height: 100px;
  text-align: left;
}
.vc-mk-upload-url {
  width: 70% !important;
}
.bg-background-type-tabs {
  text-align: left;
  margin: 0;
  padding: 0;
}
.bg-background-type-tabs li {
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}
.bg-background-type-tabs li a.bg-image-buttons {
  float: right;
  display: inline-block;
  margin: 4px;
  padding: 7px 16px;
  background-color: #fff;
  color: #848484;
  border-radius: 30px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.bg-background-type-tabs li a.bg-image-buttons:hover {
  color: #848484;
}
.bg-background-type-tabs li.current a {
  background-color: #dbdbdb;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.3) !important;
}
.page-composer-icon-filter {
  margin-bottom: 10px;
}
.mk-system-diagnose {
  margin-bottom: 20px;
}
.mk-system-diagnose ul li {
  display: block;
  padding: 6px 10px;
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 1px;
}
.mk-system-diagnose ul li strong {
  margin-right: 10px;
}
.mk-system-diagnose ul li .error {
  color: red;
}
.wp-picker-holder {
  position: absolute;
  z-index: 100;
}
.mk-general-bg-selector .vc_color-picker .wp-picker-holder {
  position: absolute !important;
  z-index: 100;
}
.wp-color-picker {
  padding: 1px 6px !important;
  margin-right: 5px !important;
  width: 150px;
}
.color-picker-holder .wp-picker-clear {
  padding: 2px 4px;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container {
  border-radius: 0;
  border: 1px solid #dfdfdf;
  padding: 6px;
  background: #ffffff;
  position: absolute;
  width: 243px;
  left: -1px;
  z-index: 1000;
  bottom: -60px !important;
  border-top: none !important;
}
.vc_color-picker .wp-picker-holder .vc_alpha-container {
  bottom: -50px !important;
  border-top: none !important;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label {
  display: block;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container label output {
  padding-top: 0px;
  display: inline;
  vertical-align: top;
}
.color-picker-holder .wp-picker-holder .vc_alpha-container input {
  padding: 0;
  margin: 0;
  width: 100%;
}
.mk-metabox-wrapper {
  margin: 20px !important;
}
.mk-metabox-wrapper [class*='mk-single-option']:last-of-type {
  border-bottom: none !important;
}
.mk-metabox-wrapper .form-table tr,
.masterkey-options-page .form-table tr {
  border-bottom: 1px solid #e7e7e7;
}
.mk-metabox-wrapper .form-table tr:last-child,
.masterkey-options-page .form-table tr:last-child {
  border-bottom: 0;
}
.mk-metabox-wrapper .form-table tr th,
.mk-metabox-wrapper .form-table tr td,
.masterkey-options-page .form-table tr th,
.masterkey-options-page .form-table tr td {
  color: #333333;
}
.mk-metabox-wrapper .form-table tr th,
.masterkey-options-page .form-table tr th {
  font-weight: normal;
  width: 35%;
  padding: 15px 10px 15px 0;
}
.mk-metabox-wrapper .form-table tr th label,
.masterkey-options-page .form-table tr th label {
  margin-bottom: 5px;
}
#mk-header-switcher {
  margin-top: 60px;
}
.header-style-unit {
  max-width: 800px;
  height: 117px;
  border: 7px solid #d4d4d4;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.mk-header-styles-number {
  position: absolute;
  top: -45px;
  right: -7px;
}
.mk-header-styles-number span {
  padding: 6px 10px;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border: 2px solid #d4d4d4;
  color: #d4d4d4;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.mk-header-styles-number span:hover {
  border-color: #bababa;
}
.mk-header-styles-number span.active {
  border-color: #7f7f7f;
  color: #7f7f7f;
}
.mk-header-style-tools {
  position: absolute;
  top: -50px;
  left: -7px;
  background-color: #d4d4d4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  background-clip: padding-box;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  display: inline-block;
  padding: 8px 8px 8px 16px;
}
.mk-header-align {
  float: left;
  margin-right: 20px;
}
.mk-header-align .label {
  font-size: 13px;
  color: #5f5f5f;
  float: left;
  display: inline-block;
  line-height: 32px;
  padding-right: 10px;
}
.mk-header-align span {
  background-image: url(../../images/header-align.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  margin-right: 5px;
  cursor: pointer;
}
.mk-header-align span:hover {
  background-color: #ccc;
}
.mk-header-align span.active {
  background-color: #555555;
}
.header-align-left {
  background-position: -2px 0;
}
.header-align-left.active {
  background-position: -2px -48px;
}
.header-align-center {
  background-position: -59px 0;
}
.header-align-center.active {
  background-position: -59px -48px;
}
.header-align-right {
  background-position: -106px 0;
}
.header-align-right.active {
  background-position: -106px -48px;
}
.mk-header-toolbar-toggle {
  float: left;
}
.mk-header-toolbar-toggle .label {
  font-size: 13px;
  color: #5f5f5f;
  float: left;
  display: inline-block;
  line-height: 32px;
  padding-right: 10px;
}
.mk-header-toolbar-toggle span {
  background: url('../../images/header-toolbar-toggle.png') 0px -52px no-repeat;
  width: 89px;
  height: 33px;
  display: block;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.mk-header-toolbar-toggle span.enabled {
  background-position: 0 0;
}
.mk-header-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  z-index: 10;
}
.mk-header-preview div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-image: url(../../images/header-sen-sprite.jpg);
}
@media handheld, only screen and (max-width: 1450px) {
  #mk-metaboxes-styling #mk-header-switcher {
    padding-top: 30px;
  }
  #mk-metaboxes-styling .mk-header-style-tools {
    width: 100%;
    display: block;
    right: 0;
    padding-left: 6px;
  }
  #mk-metaboxes-styling .mk-header-styles-number {
    top: -95px;
  }
  .mk-metabox-wrapper .mk-upload-url {
    width: 50%;
  }
}
.style-1-align-left .mk-header-preview div {
  background-position: 0 -465px;
}
.style-1-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-1-align-center .mk-header-preview div {
  background-position: 0 -775px;
}
.style-1-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-1-align-right .mk-header-preview div {
  background-position: 0 -620px;
}
.style-1-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-left .mk-header-preview div {
  background-position: 0 0;
}
.style-2-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-center .mk-header-preview div {
  background-position: 0 -155px;
}
.style-2-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-2-align-right .mk-header-preview div {
  background-position: 0 -310px;
}
.style-2-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-left .mk-header-preview div {
  background-position: 0 -1085px;
}
.style-3-align-left.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-center .mk-header-preview div {
  background-position: 0 -2527px;
}
.style-3-align-center.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-3-align-right .mk-header-preview div {
  background-position: 0 -1240px;
}
.style-3-align-right.toolbar-false .mk-header-preview div {
  top: -24px;
}
.style-4-align-left .mk-header-preview div {
  background-position: 0 -1705px;
}
.style-4-align-left.toolbar-false .mk-header-preview div {
  background-position: 0 -1729px;
}
.style-4-align-center .mk-header-preview div {
  background-position: 0 -1731px;
}
.style-4-align-center.toolbar-false .mk-header-preview div {
  background-position: 0 -1707px;
}
.style-4-align-right .mk-header-preview div {
  background-position: 0 -1884px;
}
.style-4-align-right.toolbar-false .mk-header-preview div {
  background-position: 0 -1908px;
}
/*Gallery Type*/
.attachment.details .check div {
  background-position: -60px 0;
}
.attachment.details .check:hover div {
  background-position: -60px 0;
}
.gallery_images .details.attachment {
  box-shadow: none;
}
.eig-metabox-sortable-placeholder {
  background: #dfdfdf;
}
.gallery_images .attachment.details {
  width: auto !important;
}
.gallery_images .attachment.details > div {
  width: 100px;
  height: 100px;
  box-shadow: none;
}
.gallery_images .attachment-preview .thumbnail {
  cursor: move;
}
.attachment.details div:hover .check {
  display: block;
}
.gallery_images:after,
#gallery_images_container:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.gallery_images > li {
  float: left;
  margin: 0 10px 10px 0;
  cursor: move;
}
.gallery_images li.image img {
  width: 150px;
  height: auto;
}
/* ---------- Custom Post Type Preview Button Removal ----------  */
.post-type-edge .preview.button,
.post-type-faq .preview.button,
.post-type-pricing .preview.button,
.post-type-clients .post-type-testimonial .preview.button,
.post-type-slideshow .preview.button,
.post-type-banner_builder .preview.button,
.post-type-animated-columns .preview.button,
.post-type-tab_slider .preview.button {
  display: none;
}
.post-type-edge #preview-action:after,
.post-type-faq #preview-action:after,
.post-type-pricing #preview-action:after,
.post-type-clients .post-type-testimonial #preview-action:after,
.post-type-slideshow #preview-action:after,
.post-type-banner_builder #preview-action:after,
.post-type-animated-columns #preview-action:after,
.post-type-tab_slider #preview-action:after {
  content: "To preview this post type you need to create a page/post and add it inside Page Composer via appropriate shortcode.";
  font-style: italic;
  color: red;
  font-size: 12px;
  line-height: 18px;
  display: block;
  clear: both;
  text-align: left;
  padding: 10px;
}
.composer-switch a {
  padding: 4px 40px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.chosen-container {
  width: 100% !important;
}
.wpb-select.fade {
  opacity: 1 !important;
}
.vc_edit_form_elements .vc_column + .vc_column,
.vc_edit_form_elements .vc_column-with-padding {
  padding-top: 20px !important;
}
.mk-param-heading {
  border-top: 3px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0;
}
.visual_preloader {
  width: 130px;
  height: 130px;
  background: #525252;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ball-pulse > div {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  background-color: #fff;
}
.ball-pulse > div:nth-child(1) {
  -webkit-animation: ball-pulse 0.75s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: ball-pulse 0.75s 0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse > div:nth-child(2) {
  -webkit-animation: ball-pulse 0.75s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: ball-pulse 0.75s 0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse > div:nth-child(3) {
  -webkit-animation: ball-pulse 0.75s 0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: ball-pulse 0.75s 0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
@-webkit-keyframes ball-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes ball-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.ball-clip-rotate-pulse {
  position: relative;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
  display: inline-block;
  width: 20px;
  height: 20px;
}
.ball-clip-rotate-pulse > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}
.ball-clip-rotate-pulse > div:first-child {
  background: #fff;
  height: 36px;
  width: 36px;
  top: 7px;
  left: -7px;
  -webkit-animation: ball-clip-rotate-pulse-scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
          animation: ball-clip-rotate-pulse-scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  left: -16px;
  top: -2px;
  background: transparent;
  border: 2px solid;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: ball-clip-rotate-pulse-rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
          animation: ball-clip-rotate-pulse-rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
            transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes ball-clip-rotate-pulse-scale {
  30% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ball-clip-rotate-pulse-scale {
  30% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
.square-spin {
  display: inline-block;
}
.square-spin > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
          animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
.cube-transition {
  position: relative;
  -webkit-transform: translate(-25px, -25px);
      -ms-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
  display: inline-block;
}
.cube-transition > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #fff;
  -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
          animation: cube-transition 1.6s 0s infinite ease-in-out;
}
.cube-transition > div:last-child {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
@-webkit-keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
            transform: translateX(50px) scale(0.5) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
            transform: translate(50px, 50px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
            transform: translateY(50px) scale(0.5) rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes cube-transition {
  25% {
    -webkit-transform: translateX(50px) scale(0.5) rotate(-90deg);
            transform: translateX(50px) scale(0.5) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(50px, 50px) rotate(-180deg);
            transform: translate(50px, 50px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateY(50px) scale(0.5) rotate(-270deg);
            transform: translateY(50px) scale(0.5) rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.ball-scale > div {
  background-color: #fff;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
          animation: ball-scale 1s 0s ease-in-out infinite;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.line-scale > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  background-color: #fff;
  width: 5px;
  height: 50px;
  border-radius: 2px;
  margin: 2px;
}
.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}
.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  display: inline-block;
  top: -50px;
  left: 5px;
}
.ball-scale-multiple > div {
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  margin: 2px;
  position: absolute;
  left: -30px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
          animation: ball-scale-multiple 1s 0s linear infinite;
}
.ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.ball-pulse-sync {
  display: inline-block;
}
.ball-pulse-sync > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
}
.ball-pulse-sync > div:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.07s infinite ease-in-out;
}
.ball-pulse-sync > div:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.14s infinite ease-in-out;
}
.ball-pulse-sync > div:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out;
          animation: ball-pulse-sync 0.6s 0.21s infinite ease-in-out;
}
@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.transparent-circle {
  display: inline-block;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: transparent-circle 1.1s infinite linear;
          animation: transparent-circle 1.1s infinite linear;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.transparent-circle:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes transparent-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes transparent-circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.ball-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -10px;
}
.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
}
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
          animation: ball-spin-fade-loader 1s 0s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.05px;
  left: 17.05px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
          animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
          animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.05px;
  left: 17.05px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
          animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
          animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.05px;
  left: -17.05px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
          animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
          animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.05px;
  left: -17.05px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
          animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* 
**
**
** Masterkey Header 
-------------------------------------------------------------*/
.main-top-section {
  width: 100%;
  height: 123px;
  background: #2e3840;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  background-clip: padding-box;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  box-shadow: 0 0 0 1px #2e3840;
}
.masterkey-branding {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: center;
}
.masterkey-branding svg polygon,
.masterkey-branding svg line {
  stroke-width: 1px;
  stroke: #7d8a94;
}
.masterkey-branding .mk-theme-version {
  display: block;
  clear: both;
  color: #7d8a94;
  font-size: 10px;
  line-height: 12px;
  margin-top: 5px;
}
.masterkey-branding .mk-theme-version strong {
  display: block;
}
/* 
**
**
** Masterkey Header
-------------------------------------------------------------*/
.mk-options-container {
  position: relative;
  background: url(../../images/masterkey-body-bg.png) left center repeat-y #fff;
  margin: 10px 20px 0 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-content .mk-main-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-content .mk-sub-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-content .mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-content .mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-header .mk-main-navigator li.ui-state-active,
.mk-main-navigator li.ui-widget-header .mk-sub-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-header .mk-main-navigator li.ui-state-active,
.mk-sub-navigator li.ui-widget-header .mk-sub-navigator li.ui-state-active,
.mk-main-navigator li.ui-state-hover,
.mk-sub-navigator li.ui-state-hover {
  border: none !important;
  background: none !important;
  font-weight: inherit !important;
  color: inherit !important;
}
/* 
**
**
** Main Navigator
-------------------------------------------------------------*/
.mk-main-navigator {
  margin: 0;
  width: 100%;
}
.mk-main-navigator li {
  margin: 13px 0 5px 15px;
  text-align: center;
  display: inline-block;
  float: left;
}
.mk-main-navigator li a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border-radius: 20px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  width: 97px;
  height: 97px;
}
.mk-main-navigator li a svg {
  margin-top: 20px;
}
.mk-main-navigator li a svg path {
  stroke-width: 0;
  fill: #89daff;
}
.mk-main-navigator li a svg polygon,
.mk-main-navigator li a svg line {
  stroke-width: 1px;
  stroke: #89daff;
}
.mk-main-navigator li a svg polygon {
  fill: transparent;
}
.mk-main-navigator li a svg rect {
  fill: #89daff;
}
.mk-main-navigator li a span {
  display: block;
  clear: both;
  margin-top: 8px;
}
.mk-main-navigator li a:hover {
  background-color: #43505a;
}
.mk-main-navigator li a:focus {
  box-shadow: none !important;
}
.mk-main-navigator li.ui-tabs-active a {
  background-color: #53a2be;
}
.mk-main-navigator li.ui-tabs-active a svg path {
  fill: #fff;
}
.mk-main-navigator li.ui-tabs-active a svg polygon,
.mk-main-navigator li.ui-tabs-active a svg line {
  stroke: #fff;
}
.mk-main-navigator li.ui-tabs-active a svg rect {
  fill: #fff;
}
.mk-main-panes {
  min-height: 700px;
  display: block;
}
.mk-main-panes.hidden-view {
  opacity: 0.35;
}
/* 
**
**
** Sub Navigator
-------------------------------------------------------------*/
.mk-sub-navigator {
  display: block;
  float: left;
  margin: 30px 0 0;
  padding: 0;
  width: 184px;
}
.mk-sub-navigator li {
  display: block;
  margin: 0;
  padding: 5px 0 5px 10px;
}
.mk-sub-navigator li a {
  display: inline-block;
  border-radius: 20px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  padding: 16px;
  color: #222222 !important;
  font-size: 14px;
  line-height: 14px;
  padding: 13px 16px;
  text-decoration: none;
}
.mk-sub-navigator li a:hover {
  background-color: #cbcfd4;
}
.mk-sub-navigator li a:focus {
  box-shadow: none !important;
}
.mk-sub-navigator li.ui-state-active a {
  background-color: #6d808f;
  color: #fff  !important;
}
.mk-sub-panes {
  display: block;
  margin: 0 0 15px 188px;
  padding-top: 25px;
}
/* 
**
**
** General Options Layouts
-------------------------------------------------------------*/
.mk-single-option {
  padding: 0 15px 25px 25px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}
.mk-single-option label {
  display: block;
  color: #444;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}
.mk-single-option .option-desc {
  display: block;
  margin-bottom: 20px;
  color: #99999b;
  font-size: 14px;
  font-style: italic;
}
.mk-heading-option {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 40px;
}
.mk-heading-option .mk-page-heading {
  padding: 0 0px 0 33px;
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
  display: block;
}
.mk-heading-option .option-desc {
  display: block;
  margin: 0 200px 15px 33px;
  color: #777777;
  font-size: 11px;
}
.mk-footer-buttons {
  display: block;
  margin: 60px 30px 30px 130px;
  text-align: right;
  height: 70px;
}
.primary-button {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 40px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  outline: 0;
  border: 0;
  margin-left: 15px;
  padding: 14px 25px;
  text-decoration: none;
  cursor: pointer;
}
.secondary-button {
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  outline: 0;
  border: 0;
  margin-left: 10px;
  padding: 11px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #666666;
  background: -o-linear-gradient(top, #dddddd, #cdcdcd);
  background-color: #dddddd;
}
.secondary-button:hover {
  color: #5c5c5c;
  background: -o-linear-gradient(top, #d5d5d5, #c1c1c1);
  background-color: #d5d5d5;
}
.full-rounded {
  border-radius: 40px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
}
.blue-button {
  color: #fff !important;
  background: -o-linear-gradient(top, #58bcdf, #42a6c9);
  background-color: #58bcdf;
}
.blue-button:hover {
  background: -o-linear-gradient(top, #57b8da, #409dbe);
  background-color: #57b8da;
}
.outline-button {
  border: 1px solid #6d808f;
  color: #6d808f;
}
.outline-button:hover {
  background-color: #6d808f;
  color: #fff;
}
#save_theme_options_top {
  position: absolute;
  top: 137px;
  right: 15px;
}
#mk_reset_confirm {
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding: 14px 20px;
}
.progress-circle {
  position: relative;
  display: inline-block;
  top: -13px;
  opacity: 0;
  transition: all 0.2s;
}
.progress-circle.is-active {
  opacity: 1;
}
.progress-circle svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.2s;
}
.progress-msg {
  position: absolute;
  width: 600px;
  text-align: right;
  right: 20px;
  top: 15px;
  font-size: 14px;
}
.progress-circle__line {
  fill: transparent;
  stroke-width: 3;
  stroke-dasharray: 200;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  /* firefox bug fix - won't rotate at 90deg angles */
}
.progress-circle__line.inner {
  stroke: #e6e6e6;
  stroke-dashoffset: 0;
}
.progress-circle__line.outer {
  stroke: #43a7ca;
  stroke-dashoffset: 200;
}
.progress-circle.is-success .progress-circle__line.outer {
  stroke: #1ecd97;
}
.progress-circle .success-icon,
.progress-circle .error-icon {
  top: 8px;
  left: 8px;
  opacity: 0;
  transition: opacity 0.2s;
}
.progress-circle .success-icon path,
.progress-circle .error-icon path {
  stroke-linecap: round;
  stroke-width: 2;
}
.progress-circle .success-icon path {
  stroke: #1ecd97;
}
.progress-circle .error-icon path {
  stroke: #f24b4e;
}
.progress-circle.is-error .progress-msg {
  color: #f24b4e;
}
.progress-circle.is-error .progress-circle__line.outer {
  stroke: #f24b4e;
}
.progress-circle.is-error .error-icon {
  opacity: 1;
}
.progress-circle.is-success .progress-msg {
  color: #1ecd97;
}
.progress-circle.is-success .progress-circle__line.outer {
  stroke: #1ecd97;
}
.progress-circle.is-success .success-icon {
  opacity: 1;
}
/* 
**
**
** RTL styling for admin panel
-------------------------------------------------------------*/
html[dir="rtl"] .mk-options-container {
  background: url(../../images/masterkey-body-bg-rtl.png) right center repeat-y #fff;
  margin: 10px 0 0 20px;
}
html[dir="rtl"] .mk-sub-panes {
  margin: 0 188px 15px 0;
}
html[dir="rtl"] .mk-sub-navigator {
  float: right;
}
html[dir="rtl"] #save_theme_options_top {
  left: 15px;
  right: auto;
}
html[dir="rtl"] .mk-sub-navigator li {
  padding: 5px 10px 5px 0;
}
html[dir="rtl"] #mk_reset_confirm {
  right: 0px;
  left: auto;
  margin-left: 0;
  margin-right: 15px;
}
html[dir="rtl"] .mk-footer-buttons {
  margin: 60px 130px 30px 30px;
  text-align: left;
}
@font-face {
  font-family: 'masterkey-icons';
  src: url('../masterkey-icons/masterkey-icons.eot');
  src: url('../masterkey-icons/masterkey-icons.eot?#iefix') format('embedded-opentype'), url('../masterkey-icons/masterkey-icons.woff') format('woff'), url('../masterkey-icons/masterkey-icons.ttf') format('truetype'), url('../masterkey-icons/masterkey-icons.svg#masterkey-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:

[class*="icon-"] {
*/
.icon-globe,
.icon-checkmark3,
.icon-close2,
.icon-menu10,
.icon-lock2,
.icon-arrow-up-right2,
.icon-arrow-up4,
.icon-arrow-up-left2,
.icon-arrow-right5,
.icon-arrow-left4,
.icon-arrow-down4,
.icon-arrow-down-right2,
.icon-arrow-down-left2,
.icon-menu10-2,
.icon-support,
.icon-lab,
.icon-blog,
.icon-briefcase3,
.icon-type,
.icon-globe-2,
.icon-droplet3 {
  font-family: 'masterkey-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-globe:before {
  content: "\25a0";
}
.icon-checkmark3:before {
  content: "\25a2";
}
.icon-close2:before {
  content: "\25a3";
}
.icon-menu10:before {
  content: "\25a4";
}
.icon-lock2:before {
  content: "\25a8";
}
.icon-arrow-up-right2:before {
  content: "\25ad";
}
.icon-arrow-up4:before {
  content: "\25ac";
}
.icon-arrow-up-left2:before {
  content: "\25b0";
}
.icon-arrow-right5:before {
  content: "\25c6";
}
.icon-arrow-left4:before {
  content: "\25db";
}
.icon-arrow-down4:before {
  content: "\25e0";
}
.icon-arrow-down-right2:before {
  content: "\25de";
}
.icon-arrow-down-left2:before {
  content: "\25e3";
}
.icon-menu10-2:before {
  content: "\25e5";
}
.icon-support:before {
  content: "\25e8";
}
.icon-lab:before {
  content: "\25e7";
}
.icon-blog:before {
  content: "\25eb";
}
.icon-briefcase3:before {
  content: "\25ef";
}
.icon-type:before {
  content: "\25f1";
}
.icon-globe-2:before {
  content: "\25f2";
}
.icon-droplet3:before {
  content: "\25f4";
}
/* Homepage Tabbed Box */
.header-social-wrapper {
  margin-bottom: 40px;
}
.header-social-wrapper .header-social-option-row {
  display: table;
  margin-bottom: 15px;
}
.header-social-wrapper .header-social-option-row .header-social-option-label {
  width: 160px;
  display: table-cell;
  vertical-align: middle;
}
.header-social-wrapper .mk-select,
.header-social-wrapper #header_social_url {
  width: 400px;
}
.header-social-wrapper .secondary-button {
  margin-left: 457px !important;
}
.mk-current-social {
  display: block;
  border-bottom: none;
  margin-top: 20px;
}
.default-social-item {
  display: none;
}
.mk-social-item {
  position: relative;
  display: none;
  overflow: hidden;
  margin-bottom: 4px;
  width: 500px;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
.mk-social-item .social-item-icon {
  float: left;
  padding: 6px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #89daff;
  box-shadow: 0 0 0 1px #89daff;
}
.mk-social-item .social-item-icon i:before {
  color: #fff;
  font-size: 24px;
}
.mk-social-item .social-item-url {
  height: 24px;
  line-height: 28px;
  display: inline-block;
  padding: 3px 10px;
  float: left;
}
.mk-social-item .delete-social-item {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 16px;
  color: #ed1c24;
}
.vc_mk_element-icon {
  background-image: url('../../images/vc-icons.png') !important;
}
.icon-mk-row {
  background-position: 0px 0px!important;
}
.icon-mk-page-section {
  background-position: -32px 0px !important;
}
.icon-mk-custom-box {
  background-position: -64px 0px !important;
}
.icon-mk-content-box {
  background-position: -96px 0px !important;
}
.icon-mk-image {
  background-position: -128px 0px !important;
}
.icon-mk-circle-image-frame {
  background-position: -160px 0px !important;
}
.icon-mk-moving-image {
  background-position: -192px 0px !important;
}
.icon-mk-image-gallery {
  background-position: -224px 0px !important;
}
.icon-mk-button {
  background-position: -256px 0px !important;
}
.icon-mk-mini-callout-box {
  background-position: -288px 0px !important;
}
.icon-mk-message-box {
  background-position: -320px 0px !important;
}
.icon-mk-icon-box {
  background-position: -352px 0px !important;
}
.icon-mk-divider {
  background-position: -384px 0px !important;
}
.icon-mk-table {
  background-position: -416px 0px !important;
}
.icon-mk-skill-meter {
  background-position: -448px 0px !important;
}
.icon-mk-diagram-progress-bar {
  background-position: -480px 0px !important;
}
.icon-mk-chart {
  background-position: -512px 0px !important;
}
.icon-mk-process-builder {
  background-position: -544px 0px !important;
}
.icon-mk-news-tab {
  background-position: -576px 0px !important;
}
.icon-mk-custom-sidebar {
  background-position: -608px 0px !important;
}
/* 2nd Row */
.icon-mk-padding-space {
  background-position: 0px -32px !important;
}
.icon-mk-event-countdown {
  background-position: -32px -32px !important;
}
.icon-mk-milestone {
  background-position: -64px -32px !important;
}
.icon-mk-audio-player {
  background-position: -96px -32px !important;
}
.icon-mk-woo-recent-carousel {
  background-position: -128px -32px !important;
}
.icon-mk-raw-html {
  background-position: -160px -32px !important;
}
.icon-mk-raw-js {
  background-position: -192px -32px !important;
}
.icon-mk-animated-columns {
  background-position: -224px -32px !important;
}
.icon-mk-tab-slider {
  background-position: -256px -32px !important;
}
.icon-mk-text-block {
  background-position: -288px -32px !important;
}
.icon-mk-fancy-title {
  background-position: -320px -32px !important;
}
.icon-mk-title-box {
  background-position: -352px -32px !important;
}
.icon-mk-blockquote {
  background-position: -384px -32px !important;
}
.icon-mk-dropcaps {
  background-position: -416px -32px !important;
}
.icon-mk-highlight-text {
  background-position: -448px -32px !important;
}
.icon-mk-tooltip {
  background-position: -480px -32px !important;
}
.icon-mk-custom-list {
  background-position: -512px -32px !important;
}
.icon-mk-font-icon {
  background-position: -544px -32px !important;
}
.icon-mk-toggle {
  background-position: -576px -32px !important;
}
.icon-mk-tabs {
  background-position: -608px -32px !important;
}
/* 3rd Row */
.icon-mk-accordion {
  background-position: 0px -64px !important;
}
.icon-mk-pricing-table {
  background-position: -32px -64px !important;
}
.icon-mk-employees {
  background-position: -64px -64px !important;
}
.icon-mk-clients {
  background-position: -96px -64px !important;
}
.icon-mk-blog {
  background-position: -128px -64px !important;
}
.icon-mk-post-carousel {
  background-position: -160px -64px !important;
}
.icon-mk-blog-portfolio-showcase {
  background-position: -192px -64px !important;
}
.icon-mk-portfolio {
  background-position: -224px -64px !important;
}
.icon-mk-portfolio-carousel {
  background-position: -256px -64px !important;
}
.icon-mk-news {
  background-position: -288px -64px !important;
}
.icon-mk-faq {
  background-position: -320px -64px !important;
}
.icon-mk-image-slideshow {
  background-position: -352px -64px !important;
}
.icon-mk-swipe-slideshow {
  background-position: -384px -64px !important;
}
.icon-mk-fullwidth-slideshow {
  background-position: -416px -64px !important;
}
.icon-mk-laptop-slideshow {
  background-position: -448px -64px !important;
}
.icon-mk-lcd-slideshow {
  background-position: -480px -64px !important;
}
.icon-mk-flex-slider {
  background-position: -512px -64px !important;
}
.icon-mk-edge-slider {
  background-position: -544px -64px !important;
}
.icon-mk-edge-one-pager {
  background-position: -576px -64px !important;
}
.icon-mk-testimonial-slideshow {
  background-position: -608px -64px !important;
}
/* 4th Row */
.icon-mk-social-networks {
  background-position: 0px -96px !important;
}
.icon-mk-skype-number {
  background-position: -32px -96px !important;
}
.icon-mk-twitter-feeds {
  background-position: -64px -96px !important;
}
.icon-mk-facebook-like {
  background-position: -96px -96px !important;
}
.icon-mk-tweetme-button {
  background-position: -128px -96px !important;
}
.icon-mk-google-button {
  background-position: -160px -96px !important;
}
.icon-mk-pinterest-button {
  background-position: -192px -96px !important;
}
.icon-mk-video-player {
  background-position: -224px -96px !important;
}
.icon-mk-google-maps {
  background-position: -256px -96px !important;
}
.icon-mk-advanced-google-maps {
  background-position: -288px -96px !important;
}
.icon-mk-flickr-feeds {
  background-position: -320px -96px !important;
}
.icon-mk-contact-form {
  background-position: -352px -96px !important;
}
.icon-mk-contact-info {
  background-position: -384px -96px !important;
}
.vc_navbar .vc_page_section_icon {
  background-position: -60px -210px !important;
}
.vc_row_section_mark {
  line-height: 16px;
  height: 16px;
  text-transform: uppercase;
  color: #878787;
  font-size: 11px;
}
.vc_element_label,
.wpb_element_label {
  text-transform: capitalize;
}
